#laughing-gif {
    display: none;
   margin: auto;
   border-radius: 15em;
  }
html {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
 text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
  color: yellow;
}  

button {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: #0400ff;
    color: rgb(0, 237, 250);
    border: none;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

